<html lang="en"> 
 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>uURL</title> 
    <link rel="stylesheet" href="main.css" type="text/css" media="screen" charset="utf-8"> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.sparkline.min.js"></script>
    <style type="text/css">
        .hourlyUsage { width: 120px; height: 40px; padding-top: 15px; background: transparent ; }
        .hourlyUsage span { display: block; color: #0482AD; font-size: 9px; text-align: left; font-family: Sans-Serif; }
    </style>
    
    <script>
        $(function() {
            var usageData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

            $.getJSON('/stats/<% Data %>?jsoncallback=?', function(data) {
                $('#content').prepend('<p>Original URL: <a href="'+data.url+'">'+data.url+'</a></p>'
                + '<p>Shortened URL: <a href="http://7co.cc/<% Data %>">http://7co.cc/<% Data %></a></p>' 
                + '<p>your stats URL (with ! in the end): <a href="http://7co.cc/<% Data %>!">http://7co.cc/<% Data %>!</a></p>' 
	        + '<p>Clicks since '+data.date+': '+data.clicks + '</p>'
	        + '<p>Visitors: '+data.visitors+'</p>'
                + '<p>Referers: '+data.referers+'</p>');
                var nowT = new Date();
                var m = nowT.getMonth()+1;
                var today = data.cph[nowT.getFullYear()][m][nowT.getDate()];
                $.each(today, function(i, hourly_clicks) {
                        usageData[i]=hourly_clicks;
                });


               $('.hourlyUsage').sparkline(usageData, {
                            type: 'bar',
                            barColor: '#4D4D4D',
                            height: 25
                });
                $('<span>clicks per hour</span>').insertAfter($('.hourlyUsage').find("canvas"));

            });
			
       });
    </script>
</head>

<body> 
<div id='topbar'> 
    <h1 style="float: left">Erlang|MochiWeb|Mongo|Redis|URL Shortener|</h1> 
</div> 
<div id='content'> 
    <span class="hourlyUsage"></span><br>
</div> 
<div id='footer'> 
        (c) gleicon 2010  
</div> 
 
</body> 
</html> 


